.datePicker {
  border: 1px solid red;
  padding: 5px;
  width: 140px;
}

.month {
  width: 100%;
}

.day {
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid green;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
}
