@import "../../assets/styles/colors.scss";

.Exercises {
  width: 100%;
  padding-left: 0.5em;

  &-select {
    color: $WHITE_1;
    width: 100%;
    background-color: transparent;
    border: 2px solid $BLUE_1;
    padding: 1em;
    box-sizing: border-box;
    border-radius: 1.75em;
    border-right: none;
    cursor: pointer;
  }

  &-option {
    color: $BLACK_2;
  }

  @media screen and (max-width: 920px) {
    width: 100%;
    padding-top: 1em;
    padding-left: 0;
  }
}
